USE [V3_Test_Strategic_Plan]
GO
/****** Object:  Table [lookup].[Strategy_Area]    Script Date: 6/24/2015 9:13:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lookup].[Strategy_Area](
	[Strategy_Area_ID] [float] NULL,
	[Strategy_Area_Name] [nvarchar](255) NULL,
	[Strategy_Area_Description] [nvarchar](255) NULL
) ON [PRIMARY]

GO
