USE [V3_Test_Strategic_Plan]
GO
/****** Object:  Table [results].[Presentense2015]    Script Date: 6/24/2015 9:13:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [results].[Presentense2015](
	[Status] [nvarchar](255) NULL,
	[Internal ID] [float] NULL,
	[Language] [nvarchar](255) NULL,
	[Created At] [datetime] NULL,
	[Updated At] [datetime] NULL,
	[Location] [nvarchar](255) NULL,
	[Username] [nvarchar](255) NULL,
	[GET Variables] [nvarchar](255) NULL,
	[Referrer] [nvarchar](255) NULL,
	[Number of Saves] [nvarchar](255) NULL,
	[Weighted Score] [float] NULL,
	[Completion Time] [datetime] NULL,
	[IP Address] [nvarchar](255) NULL,
	[Invite Code] [nvarchar](255) NULL,
	[Invite Email] [nvarchar](255) NULL,
	[Invite Name] [nvarchar](255) NULL,
	[Collector] [nvarchar](255) NULL,
	[First Name] [nvarchar](255) NULL,
	[Last Name ] [nvarchar](255) NULL,
	[Email ] [nvarchar](255) NULL,
	[Phone Number ] [float] NULL,
	[Accelerator ] [nvarchar](255) NULL,
	[Street Address ] [nvarchar](255) NULL,
	[City ] [nvarchar](255) NULL,
	[State ] [nvarchar](255) NULL,
	[Zipcode ] [float] NULL,
	[Venture Name ] [nvarchar](255) NULL,
	[Logo] [nvarchar](255) NULL,
	[In one sentence, using the format "I am NAME and I believe CAUSE] [nvarchar](255) NULL,
	[Business Vision Framework] [float] NULL,
	[Vision Statement] [float] NULL,
	[Customer Segmentation] [float] NULL,
	[Interviewing for Empathy] [float] NULL,
	[Perceptual Mapping] [float] NULL,
	[MVP] [float] NULL,
	[Rapid Prototyping] [float] NULL,
	[Theory of Change] [float] NULL,
	[Revenue Model] [float] NULL,
	[SMART Tasks] [float] NULL,
	[Volunteer Management] [float] NULL,
	[Fundraising / Financing] [float] NULL,
	[Venture Pitch] [float] NULL,
	[Budgeting] [float] NULL,
	[Fundraising] [float] NULL,
	[Market Research] [float] NULL,
	[Marketing / Social Media] [float] NULL,
	[Networking] [float] NULL,
	[Operations] [float] NULL,
	[Project Management] [float] NULL,
	[Pitching / Public Speaking] [float] NULL,
	[Visioning] [float] NULL,
	[Key Principals SOCENT] [float] NULL,
	[Skills + Resource + Network] [float] NULL,
	[Skills + Tools Next Year] [float] NULL,
	[Top 3 Prof Dev] [float] NULL,
	[Which Skills + Tools?] [nvarchar](max) NULL,
	[Key Takeaways] [nvarchar](max) NULL,
	[Written a Business Plan] [float] NULL,
	[Exec Summary] [float] NULL,
	[One-Year Budget] [float] NULL,
	[PowerPoint Pitch] [nvarchar](255) NULL,
	[Work Plan] [float] NULL,
	[Publicly Presented] [float] NULL,
	[Pitched to Multiple] [float] NULL,
	[Incorporated] [float] NULL,
	[Press] [nvarchar](255) NULL,
	[Press Link] [nvarchar](255) NULL,
	[Funding] [nvarchar](255) NULL,
	[How much funding or investment have you received to date for you] [nvarchar](255) NULL,
	[People Engaged] [datetime] NULL,
	[Legal Status] [nvarchar](255) NULL,
	[Continuing Plan] [nvarchar](255) NULL,
	[Next 12 Months] [nvarchar](255) NULL,
	[Goals for 12 Months] [nvarchar](255) NULL,
	[Not Continuing?] [nvarchar](255) NULL,
	[If your venture does not continue, how do you envision utilizing] [nvarchar](255) NULL,
	[In a few sentences, tell the story of your venture’s trajectory ] [nvarchar](max) NULL,
	[In a few sentences, tell the story of one person or group who ha] [nvarchar](max) NULL,
	[On a scale of 1-5, with 5 representing strongly agree and 1 repr] [float] NULL,
	[On a scale of 1-5, with 5 representing strongly agree and 1 rep1] [float] NULL,
	[On a scale of 1-5, with 5 representing strongly agree and 1 rep2] [float] NULL,
	[On a scale of 1-5, with 5 representing strongly agree and 1 rep3] [float] NULL,
	[Which if any of the following actions have you taken, if any, as] [float] NULL,
	[Which if any of the following actions have you taken, if any, a1] [float] NULL,
	[Which if any of the following actions have you taken, if any, a2] [float] NULL,
	[Which if any of the following actions have you taken, if any, a3] [nvarchar](255) NULL,
	[Please elaborate on your checked responses above#  How (if at al] [nvarchar](max) NULL,
	[This was a pilot year for the Jewish components of the Accelerat] [nvarchar](max) NULL,
	[Please rate the usefulness of the following program components f] [float] NULL,
	[Please rate the usefulness of the following program components 1] [float] NULL,
	[Please rate the usefulness of the following program components 2] [float] NULL,
	[Please rate the usefulness of the following program components 3] [float] NULL,
	[Please rate the usefulness of the following program components 4] [float] NULL,
	[Please rate the usefulness of the following program components 5] [float] NULL,
	[Please rate the usefulness of the following program components 6] [float] NULL,
	[Please rate the usefulness of the following program components 7] [float] NULL,
	[On a scale of 1-5, (with 5  being highly valuable 1 being not va] [float] NULL,
	[On a scale of 1-5, (with 5  being highly valuable 1 being not v1] [float] NULL,
	[On a scale of 1-5, (with 5  being highly valuable 1 being not v2] [float] NULL,
	[How did your coach help you? What do you think was most successf] [nvarchar](max) NULL,
	[If applicable: How did your mentor/the mentor pool help you? Wha] [nvarchar](max) NULL,
	[On average, how effective did you find our SocialStart trainers ] [nvarchar](max) NULL,
	[Before they gather for their annual summer training course, your] [nvarchar](max) NULL,
	[On a scale of 1-10, with 10 being most likely and 1 being least ] [nvarchar](255) NULL,
	[Welcome to the PresenTense Alumni Network_  We are excited to co] [nvarchar](max) NULL,
	[Below are some of the services currently available to the Presen] [float] NULL,
	[Below are some of the services currently available to the Prese1] [float] NULL,
	[Below are some of the services currently available to the Prese2] [float] NULL,
	[Below are some of the services currently available to the Prese3] [float] NULL,
	[Below are some of the services currently available to the Prese4] [float] NULL,
	[Below are some of the services currently available to the Prese5] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
