USE [V3_Test_Strategic_Plan]
GO
/****** Object:  Table [dbo].[Compass_Preliminary2013]    Script Date: 6/24/2015 9:13:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compass_Preliminary2013](
	[Timestamp] [datetime] NULL,
	[First Name] [nvarchar](255) NULL,
	[Last Name] [nvarchar](255) NULL,
	[Email Address] [nvarchar](255) NULL,
	[Which campus chapter of the Compass Fellowship do you belong to?] [nvarchar](255) NULL,
	[If you're in a smaller school within this university, please nam] [nvarchar](255) NULL,
	[Which class as you in this year?] [nvarchar](255) NULL,
	[What is your gender?] [nvarchar](255) NULL,
	[Your birthday in MM/DD/YYYY form please_] [datetime] NULL,
	[On this day###] [nvarchar](255) NULL,
	[And in this year###] [nvarchar](255) NULL,
	[I consider my Racial/Ethnic identity to be:] [nvarchar](255) NULL,
	[While growing up, I considered my socio-economic class to be:] [nvarchar](255) NULL,
	[I spent most of my childhood in this city, state, and country (i] [nvarchar](255) NULL,
	[Name of my high school:] [nvarchar](255) NULL,
	[This high school was:] [nvarchar](255) NULL,
	[Please select True or False to let us know whether one or both o] [bit] NOT NULL,
	[Please select True or False to let us know whether one or both 1] [bit] NOT NULL,
	[Please select True or False to let us know whether one or both 2] [bit] NOT NULL,
	[Please select True or False to let us know whether one or both 3] [bit] NOT NULL,
	[Please select True or False to let us know whether one or both 4] [bit] NOT NULL,
	[How many siblings do you have?] [float] NULL,
	[Of your siblings, which are you?] [nvarchar](255) NULL,
	[Anticipated Major:] [nvarchar](255) NULL,
	[Anticipated Minor] [nvarchar](255) NULL,
	[Anticipated Career:] [nvarchar](255) NULL,
	[How many business have you started to-date? (for-profits or non-] [float] NULL,
	[How many organizations/clubs have you started to-date? ] [float] NULL,
	[Upon entering college, did you want to start a business or organ] [nvarchar](255) NULL,
	[How many jobs have you held to-date?] [float] NULL,
	[How many hours per week do you spend doing the following? (Worki] [nvarchar](255) NULL,
	[How many hours per week do you spend doing the following? (Readi] [datetime] NULL,
	[How many hours per week do you spend doing the following? (Atten] [datetime] NULL,
	[How many hours per week do you spend doing the following? (Runni] [nvarchar](255) NULL,
	[How many hours per week do you spend doing the following? (Doing] [datetime] NULL,
	[How many hours per week do you spend doing the following? (Volun] [datetime] NULL,
	[How many hours per week do you spend doing the following? (Study] [nvarchar](255) NULL,
	[I currently use the following forms of social media:] [nvarchar](255) NULL,
	[How willing are you to give a speech to a group of 20+ people ab] [float] NULL,
	[How many times have you spoken in public in the past 3 months?] [datetime] NULL,
	[How frequently do you feel that you succeed in communicating you] [float] NULL,
	[How likely are you to speak your mind in a group when your opini] [float] NULL,
	[Please write out a 30-second "elevator pitch" of yourself# ] [nvarchar](max) NULL,
	[How often do you respond to emails within 24 hours?] [float] NULL,
	[How many adults, besides your relatives, do you maintain relatio] [float] NULL,
	[I can actively be a part of both my university community and the] [float] NULL,
	[How comfortable are you with presenting yourself to others?] [float] NULL,
	[In an average week, how many times do you ask others for advice ] [datetime] NULL,
	[Please check all the communication methods you use regularly:] [nvarchar](255) NULL,
	[How often do the connections you make turn into partnerships or ] [float] NULL,
	[I am comfortable giving advice to others#] [float] NULL,
	[About how many people have you maintained advice-sharing relatio] [datetime] NULL,
	[I easily put myself in other people's shoes#] [float] NULL,
	[About how many times each week do you introduce people to each o] [datetime] NULL,
	[So far in this academic year, how many teams have you worked on?] [float] NULL,
	[In how many of the teams you thought of in the question above do] [float] NULL,
	[About how many new people do you add to your network of contacts] [datetime] NULL,
	[How many people do you regularly give advice on personal or busi] [datetime] NULL,
	[How many people regularly give YOU advice on personal or busines] [datetime] NULL,
	[What percentage of people do you feel like you can learn somethi] [float] NULL,
	[I engage strangers in conversation#] [float] NULL,
	[How many people who you consider your "mentors" are 1-4 years ol] [float] NULL,
	[How many people whom YOU mentor are 1-4 years younger than you?] [float] NULL,
	[I frequently get approval before beginning a task or moving on t] [float] NULL,
	[I regularly set goals in my personal life#] [float] NULL,
	[I have a financial goal for the future#] [float] NULL,
	[I regularly map out plans of next steps or actions to help me ac] [float] NULL,
	[I have and use a personal financial budget#] [float] NULL,
	[I follow a personal health and/or fitness plan#] [float] NULL,
	[Who at HQ has the best hair?] [nvarchar](255) NULL,
	[How many times each semester do you review and revise your perso] [datetime] NULL,
	[How many times each semester do you review and revise your pers1] [datetime] NULL,
	[I regularly use a system to reflect on my life#] [float] NULL,
	[There are certain causes that I consider priorities, and I shape] [float] NULL,
	[I feel comfortable declining tasks/opportunities#] [float] NULL,
	[I have identified my values#] [float] NULL,
	[I make decisions based on my values#] [float] NULL,
	[All businesses currently make a net-positive social impact#] [float] NULL,
	[All businesses SHOULD make a social impact#] [float] NULL,
	[Social change should be sustainable#] [float] NULL,
	[When I get an idea I want to act on, I act on it#] [float] NULL,
	[I find myself finding new ways to do things#] [float] NULL,
	[When I do something, I think about what went well and what didn'] [float] NULL,
	[When something goes wrong, I identify a potential reason for the] [float] NULL,
	[Reflection is valuable in my work#] [float] NULL,
	[I am most productive when I have slightly more work to do than I] [float] NULL,
	[I feel a sense of urgency with regard to the work I do#] [float] NULL,
	[Systems are useful in organizing my thought process#] [float] NULL,
	[I find myself to be effective at getting things done#] [float] NULL,
	[I have identified my passion(s)#] [float] NULL,
	[Please briefly describe your passion(s)_] [nvarchar](max) NULL,
	[I identified my passion(s) after graduating from high school#] [float] NULL,
	[I have taken action on one or more of my areas of passion#] [float] NULL,
	[I feel comfortable explaining to someone how they can become an ] [float] NULL,
	[About how many times per week do you read books/articles/blogs, ] [datetime] NULL,
	[I feel comfortable teaching another person about my field of pas] [float] NULL,
	[How many new people or organizations in your field of passion ha] [datetime] NULL,
	[I am capable of learning just as much outside the classroom as i] [float] NULL,
	[Exploring my passion enriches my life#] [float] NULL,
	[Exploring my passion drives many of my decisions#] [float] NULL,
	[What degree of control do you have over what you learn?] [float] NULL,
	[What percentage of what you learn is a result of your efforts as] [float] NULL,
	[Please list 5 words that you'd use to describe social entreprene] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
