USE [V3_Test_Strategic_Plan]
GO
/****** Object:  Table [dbo].[Sheet1$]    Script Date: 6/24/2015 9:13:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sheet1$](
	[Year] [float] NULL,
	[Timestamp] [datetime] NULL,
	[First Name] [nvarchar](255) NULL,
	[Last Name] [nvarchar](255) NULL,
	[University] [nvarchar](255) NULL,
	[School within your University, if applicable] [nvarchar](255) NULL,
	[Expected Year of Graduation] [float] NULL,
	[Email Address] [nvarchar](255) NULL,
	[Phone Number] [nvarchar](255) NULL,
	[Birthday] [datetime] NULL,
	[Hometown] [nvarchar](255) NULL,
	[Home State] [nvarchar](255) NULL,
	[Optional: Gender] [nvarchar](255) NULL,
	[Optional: Racial / Ethnic Identity] [nvarchar](255) NULL,
	[Optional: While growing up, I considered my socio-economic class] [nvarchar](255) NULL,
	[At least one of my parents has started a business, a non-profit,] [bit] NOT NULL,
	[Optional: Of those siblings, I am###] [nvarchar](255) NULL,
	[I have __ siblings#] [float] NULL,
	[Anticipated Major] [nvarchar](255) NULL,
	[Anticipated Career] [nvarchar](255) NULL,
	[If asked to right now, I would be comfortable presenting on the ] [float] NULL,
	[I reply to most emails within 24 hours of receiving them#] [float] NULL,
	[If I need something, I feel comfortable asking a stranger for he] [float] NULL,
	[I maintain relationships through a wide variety of means, includ] [float] NULL,
	[I volunteer to teach younger people#] [float] NULL,
	[I often find reasons to introduce friends to each other#] [float] NULL,
	[I am usually an appointed or elected leader in the organizations] [float] NULL,
	[Most people I meet have something interesting to share#] [float] NULL,
	[Personal mentors have gotten me to where I am today#] [float] NULL,
	[When I read, watch, or do something, I often notice problems#] [float] NULL,
	[I have run a successful marketing or advertising campaign for an] [float] NULL,
	[I have successfully managed a team#] [float] NULL,
	[I have used spreadsheets to create a budget or financial plan fo] [float] NULL,
	[ I have successfully raised funds for an organization or event i] [float] NULL,
	[I have convinced others - not just my close friends and family -] [float] NULL,
	[I don't need a fully developed plan to begin a project; I would ] [float] NULL,
	[I use an organized system to manage my personal day-to-day tasks] [float] NULL,
	[After completing a project, I like to reflect on what did and di] [float] NULL,
	[I sometimes decline tasks or opportunities if they conflict with] [float] NULL,
	[I think it's best to take risks and ask for forgiveness if they ] [float] NULL,
	[I feel a sense of urgency to complete the work that I take on#] [float] NULL,
	[There are causes that I consider priorities, and I shape my acti] [float] NULL,
	[All businesses should make a positive social impact#] [float] NULL,
	[There are things I learn about outside of school, just because I] [float] NULL,
	[I follow blogs and read books/articles on topics that interest m] [float] NULL,
	[I join clubs and other civic organizations because I want to mee] [float] NULL,
	[My education has more to do with the effort I put into it than w] [float] NULL,
	[How did you hear about The Compass Fellowship?] [nvarchar](255) NULL,
	[I had heard about The Compass Fellowship before arriving on camp] [bit] NOT NULL,
	[I applied to The Compass Fellowship because… (I want to be a soc] [float] NULL,
	[I applied to The Compass Fellowship because… (I want to learn mo] [float] NULL,
	[I applied to The Compass Fellowship because… (I like the people ] [float] NULL,
	[I applied to The Compass Fellowship because… (It is a prestigiou] [float] NULL,
	[I applied to The Compass Fellowship because… (I want to attend c] [float] NULL,
	[I would guess that during the application process, ____ % of fir] [float] NULL,
	[Any other comments / suggestions about the application or interv] [nvarchar](max) NULL,
	[I understand my values and goals well#] [float] NULL,
	[ I understand what I want to do with my education and/or career#] [float] NULL,
	[I have started a business or organization in the past#] [bit] NOT NULL,
	[Upon entering college, I wanted to start a business or organizat] [nvarchar](255) NULL,
	[Please share your general feedback on why you applied to The Com] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
