CREATE TABLE [lookup].[Individual_Role](
	[Individual_Role_ID] [int] NOT NULL,
	[Individual_Role_Name] [nvarchar](255) NULL,
	[Individual_Role_Description] [nvarchar](255) NULL
) ON [PRIMARY]

GO
