CREATE TABLE [lookup].[Role_Individual](
	[Role_Individual_ID] [int] NOT NULL,
	[Role_Individual_Name] [nvarchar](255) NULL,
	[Role_Individual_Description] [nvarchar](255) NULL
) ON [PRIMARY]

GO
